@page "/mapJardin"

<div>
    <Map CurrentFloorImage=images/jardin.png 
         CurrentMap="map" 
         StockMap="mapJardin"
         Row="10" 
         Column="20" 
         MonstersList="@JardinMonsters" 
         Zones="@JardinZones"
         Exits="@Exits"
         Doors="@JardinDoors"
         PlayerPositionX="10"
         PlayerPositionY="0"
         CoffrePositionX="4"
         CoffrePositionY="3"
         Etage = "12"
         Etang="@Etang"
         Coffres = "@CoffresJardin"
         Caisse = "@Caisses"

 
    />
 
</div>

@code {

    private List<Monsters> JardinMonsters = new List<Monsters>
    {
        new Zombie("zombie1", 3, 4),
        new Zombie("zombie2", 15,4),
        new Zombie("zombie3", 10, 5),
        new Ghost("ghost1", 1, 3),
        new Ghost("ghost2", 19,9),
        new Ghost("ghost3", 3, 9)
    };

    private List<Zone> JardinZones = new List<Zone>
    {
        new Zone(0, 9, 0, 19),
    };

    private List<Exit> Exits = new List<Exit>
    {
        new Exit(19, 4),
        new Exit(9, 0)
    };

    private List<Door> JardinDoors = new List<Door>
    {
    };

    private etang Etang = new etang(9, 4);
    
    private List<Coffre> CoffresJardin = new List<Coffre>
    {
        new Coffre(9, 9),
        new Coffre(10, 0),
        new Coffre(19, 5)
    };
    
    private List<caisse> Caisses = new List<caisse>
    {
        new caisse(2, 9, new Item("une épuisette", "images/epuisette.png"))
    };
}