
@using testManor.Pages
@using testManor.Pages.Services
@inject NavigationManager Nav
@inject HeroService HeroService

<div class="gestionvie">
    <p><img src="@HeroService.MonHero.Image" class="Personnage" alt=""/> &nbsp; &nbsp; &nbsp; &nbsp; Nom : @HeroService.MonHero.Nom &nbsp; &nbsp; &nbsp; &nbsp;Point de vie : @HeroService.MonHero.Life  &nbsp; &nbsp; &nbsp; &nbsp;Point de dégat : @HeroService.MonHero.Damage &nbsp; &nbsp; &nbsp; &nbsp;Point de défense : @HeroService.MonHero.Armor    </p>
</div>

<div @ref="mapElement" @onkeydown="HandleKeyDown" tabindex="0" class="@CurrentMap" style="background-image: url('@CurrentFloorImage')">
    @for (int row = 0; row < Row; row++)
    {
        @for (int col = 0; col < Column; col++)
        {
    <div class="cell">
        @if (MonstersList != null && MonstersList.Any(m => m.PositionX == col && m.PositionY == row && m.Alive())) //cherche un monstre vivant présent dans la cellule
        {
            var monster = MonstersList.First(m => m.PositionX == col && m.PositionY == row && m.Alive()); //récupère le premier monstre vivant trouvé dans la cellule
        //en vérifiant que la position x/y du monstre correspondent à la position de la cellule et que le monstre est vivant.
            <img src="@monster.Image" alt="@monster.Name" class="monster" /> //si monstre vivant trouvé dans la cellule, affiche son image
        }
        else if (Coffres != null && Coffres.Any(c => c.PositionX == col && c.PositionY == row && !c.Ouvert))
        {
            var coffre = Coffres.First(c => c.PositionX == col && c.PositionY == row && !c.Ouvert);
            <img src="@coffre.Image" class="coffreimage" alt=""/>
        }
        else if (Coffres != null && Coffres.Any(c => c.PositionX == col && c.PositionY == row && c.Ouvert))
        {
            var coffre = Coffres.First(c => c.PositionX == col && c.PositionY == row && c.Ouvert);
            <img src="@coffre.ImageOuvert" class="coffreimage" alt=""/>
        }
        else if (row == PlayerPositionY && col == PlayerPositionX) 
        {
            <img src="@HeroService.MonHero.Image" class="hero" alt=""/>
        }
        else if (Stairs != null && Stairs.Any(s => s.PositionX == col && s.PositionY == row)) //cherche un escalier dans la cellule
        {
            <img src="images/stairs1.png" class="StairsImage" alt=""/>
        }
        else if (Exits != null && Exits.Any(s => s.PositionX == col && s.PositionY == row)) //cherche une sortie dans la cellule
        {
            var exit = Exits.First(s => s.PositionX == col && s.PositionY == row); // Récupérer la sortie correspondante
            <img src="@exit.Image" class="StairsImage" alt=""/>
        }
        else if (Etang != null && row == Etang.PositionY && col == Etang.PositionX)
        {
            <img src="@Etang.Image" class="EtangImage" alt=""/>
        }
        
        else if (Caisse != null && Caisse.Any(c => c.PositionX == col && c.PositionY == row))
        {
        var caisse = Caisse.First(c => c.PositionX == col && c.PositionY == row);
        {
            <img src="@caisse.Image" class="coffreimage" alt=""/>
        }
        
        }
            
    </div>
    
    }
    }
</div>

<div class="prompt">
    @if (!string.IsNullOrEmpty(TresorTexte))
    {
    <p>@TresorTexte</p>
    }
</div>

@code {

    [Parameter] public string? CurrentFloorImage { get; set; }
    [Parameter] public string? CurrentMap { get; set; }
    [Parameter] public int Row { get; set; }
    [Parameter] public int Column { get; set; }
    [Parameter] public List<Monsters>? MonstersList { get; set; }
    [Parameter] public List<Zone>? Zones { get; set; } // initialisation de la liste des zones
    [Parameter] public List<Door>? Doors { get; set; } // initialisation de la liste des portes
    [Parameter] public List<Stair>? Stairs { get; set; } // initialisation de la liste des escaliers
    [Parameter] public List<Exit>? Exits { get; set; }
    [Parameter] public int Etage { get; set; }
    [Parameter] public int PlayerPositionX { get; set; } // position initiale du héros
    [Parameter] public int PlayerPositionY { get; set; } // position initiale du héros
    [Parameter] public int CoffrePositionX { get; set; }
    [Parameter] public int CoffrePositionY { get; set; }
    [Parameter] public etang? Etang { get; set; }
    [Parameter] public List<caisse>? Caisse { get; set; }
    [Parameter] public List<Coffre>? Coffres { get; set; } = new List<Coffre>();
    
    public bool TresorTrouve { get; set; } = false; // Indique si le trésor a été trouvé
    private string? TresorImage { get; set; } // Image aléatoire du trésor
    private string? TresorTexte { get; set; } // Texte du trésor
    private fight? CurrentFight;

    private void HandleKeyDown(KeyboardEventArgs e) // Méthode pour gérer l'évènement clavier  
    {
        int newPlayerRow = PlayerPositionY, newPlayerCol = PlayerPositionX;
        {
            switch (e.Key)
            {
                case "ArrowUp":
                    newPlayerRow = PlayerPositionY - 1; // Haut
                    //if (PlayerPositionY > 0) PlayerPositionY--;
                    break;
                case "ArrowDown":
                    newPlayerRow = PlayerPositionY + 1;
                    //if (PlayerPositionY < 9) PlayerPositionY++;
                    break;
                case "ArrowLeft":
                    newPlayerCol = PlayerPositionX - 1;
                    //if (PlayerPositionX > 0) PlayerPositionX--;
                    break;
                case "ArrowRight":
                    newPlayerCol = PlayerPositionX + 1;
                    //if (PlayerPositionX < 19) PlayerPositionX++;
                    break;
            }
        }

        if (CanMoveTo(PlayerPositionY, PlayerPositionX, newPlayerRow, newPlayerCol))
        {
            PlayerPositionY = newPlayerRow;
            PlayerPositionX = newPlayerCol;
        }
        
        var coffre = Coffres.FirstOrDefault(c => c.PositionX == PlayerPositionX && c.PositionY == PlayerPositionY && !c.Ouvert);
        if (coffre != null)
        {
            coffre.Ouvert = true;
            SelectRandomTreasure();
        }

        var navigationMap = new Dictionary<(int etage, int X, int Y), string>
        {
            { (11, 9, 5), "Map1E" },
            { (1, 9, 5), "MapRDC" },
            { (1, 0, 0), "MapGrenier" },
            { (2, 0, 0), "Map1E" },
            { (11, 19, 9), "Mapjardin" },
            { (12, 9, 0), "MapRDC" },
            { (12, 19, 4), "Fin" }
        };

        if (navigationMap.TryGetValue((Etage, PlayerPositionX, PlayerPositionY), out var destination))
        {
          
            if (objetsNecessairesParMap.TryGetValue(destination, out var mapInfo))
            {
             
                if (!ObjetsRequis(mapInfo.ObjetsNecessaires))
                {
                
                    var objetsManquants = mapInfo.ObjetsNecessaires
                        .Where(item => !HeroService.ListInventaire.Contains(item))
                        .ToList();
                    
                    TresorTexte = mapInfo.TresorTexte;
                    
                    return;
                }
            }
        

            Nav.NavigateTo(destination); 
        }


        if (MonstersList.Any(m => m.PositionX == PlayerPositionX && m.PositionY == PlayerPositionY && m.Alive()))
        {
            var monster = MonstersList.First(m => m.PositionX == PlayerPositionX && m.PositionY == PlayerPositionY && m.Alive());
            CurrentFight = new fight(HeroService.MonHero, monster);
            CurrentFight.Start(); // Lancer le combat
            if (CurrentFight.GameOver) {
                Nav.NavigateTo("MapGameOver");
            }
            TresorTexte = CurrentFight.text;
        }

        var caisse = Caisse.FirstOrDefault(c => c.PositionX == PlayerPositionX && c.PositionY == PlayerPositionY);
        if(caisse !=null)
        {
            if (!HeroService.ListInventaire.Contains(caisse.Item.Image))
            {
                HeroService.AddNotif(caisse.Item.Image);
                TresorTexte = $"Vous avez trouvé {caisse.Item.Nom} !";
            }
        }

        if (Etang != null && PlayerPositionX == Etang.PositionX && PlayerPositionY == Etang.PositionY)
        {
            var clef = new Item("la clef de sortie", "images/clefjardin.png");
            if (!HeroService.ListInventaire.Contains("images/epuisette.png"))
            {
                TresorTexte = "Quelque chose brille au fond de l'étang ...";
            }
            else if (!HeroService.ListInventaire.Contains(clef.Image) && HeroService.ListInventaire.Contains("images/epuisette.png"))
            {
                HeroService.AddNotif(clef.Image);
                TresorTexte = $"Vous avez trouvé {clef.Nom} !";
            }
        }


        StateHasChanged(); // Rafraîchit la map après chaque déplacement
    }

    private void SelectRandomTreasure()
    {
        Coffre monCoffre = new Coffre(0,0);
        var objetAleatoire = monCoffre.ChoisirObjet();

        if (objetAleatoire is Armure armure)
        {
            if (!HeroService.ListInventaire.Contains(armure.Image))  HeroService.AddNotif(armure.Image) ;
            TresorTexte = $"Vous avez trouvé {armure.Nom} qui vous procure {armure.PointDefense} point(s) de défense supplémentaire !";
            HeroService.MonHero.Armor += armure.PointDefense;

        }
        else if (objetAleatoire is Arme arme)
        {
            if (!HeroService.ListInventaire.Contains(arme.Image))  HeroService.AddNotif(arme.Image);
            TresorTexte = $"Vous avez trouvé {arme.Nom} qui vous procure {arme.Pointdegats} point(s) de dégats supplémentaire !";
            HeroService.MonHero.Damage += arme.Pointdegats;
        }
        else if (objetAleatoire is Potion potions)
        {
            if (!HeroService.ListInventaire.Contains(potions.Image)) HeroService.AddNotif(potions.Image);
            TresorTexte = $"Vous avez trouvé {potions.Nom} qui vous procure {potions.Pointdevie} point(s) de vie supplémentaire !";
            HeroService.MonHero.Life += potions.Pointdevie;
        }
        else if (objetAleatoire is Item item)
        {
            if (!HeroService.ListInventaire.Contains(item.Image))  HeroService.AddNotif(item.Image);
            TresorTexte = $"Vous avez trouvé {item.Nom} !";
        }

    }

    public async Task MoveMonsters()
    {
        var random = new Random();
        while (!HeroService.StopMoving)
        {
            if (MonstersList != null)
                foreach (var monster in MonstersList)
                {
                    int direction = random.Next(4);
                    int newRow = monster.PositionY, newCol = monster.PositionX;

                    switch (direction)
                    {
                        case 0:
                            newRow = monster.PositionY - 1;
                            break; // Haut
                        case 1:
                            newRow = monster.PositionY + 1;
                            break; // Bas
                        case 2:
                            newCol = monster.PositionX - 1;
                            break; // Gauche
                        case 3:
                            newCol = monster.PositionX + 1;
                            break; // Droite
                    }

                    if (CanMoveTo(monster.PositionY, monster.PositionX, newRow, newCol))
                    {
                        monster.PositionY = newRow;
                        monster.PositionX = newCol;
                    }

                    if (monster.PositionX == PlayerPositionX && monster.PositionY == PlayerPositionY && monster.Alive())
                    {
                        CurrentFight = new fight(HeroService.MonHero, monster);
                        CurrentFight.Start(); // Lancer le combat
                        if (CurrentFight.GameOver)
                        {
                            Nav.NavigateTo("MapGameOver");
                        }

                        TresorTexte = CurrentFight.text;
                    }
                }

            StateHasChanged();
            await Task.Delay(500);
        }
    }

    private ElementReference mapElement; // Référence à l'élément de la carte

    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        if (firstRender)
        {
            await mapElement.FocusAsync();
            await MoveMonsters();
        }
    }

    public bool CanMoveTo(int currentRow, int currentCol, int targetRow, int targetCol)
    {
// Vérifier si le déplacement reste dans la même zone
        var currentZone = Zones.FirstOrDefault(z => z.IsInside(currentRow, currentCol));
//recherche dans la liste des zones le premier élément qui répond à la condition, sinon renvoie null
        var targetZone = Zones.FirstOrDefault(z => z.IsInside(targetRow, targetCol));

        if (currentZone == targetZone)
            return true;



// Vérifier si le déplacement passe par une porte
        return Doors.Any(d =>
            (d.Position1 == (currentRow, currentCol) && d.Position2 == (targetRow, targetCol)) ||
            (d.Position2 == (currentRow, currentCol) && d.Position1 == (targetRow, targetCol)));
    }

    private bool ObjetsRequis(List<string> objetsRequis)
    {
        foreach (var item in objetsRequis)
        {
            if (!HeroService.ListInventaire.Contains(item))
            {
                return false;
            }
        }

        return true;
    }

    public class MapInfo
    {
        public List<string> ObjetsNecessaires { get; set; }
        public string TresorTexte { get; set; }

        public MapInfo(List<string> objetsNecessaires, string tresorTexte)
        {
            ObjetsNecessaires = objetsNecessaires;
            TresorTexte = tresorTexte;
        }
    }

    private readonly Dictionary<string, MapInfo> objetsNecessairesParMap = new()
    {
        {
            "MapGrenier", new MapInfo(
                new List<string> { "images/planche.png", "images/vis.png", "images/visseuse.png" },"Les escaliers sont cassés, trouvez une planche, des vis et une visseuse")},
        {
            "Mapjardin", new MapInfo(
                new List<string> { "images/clefgrenier.png" },"La porte est fermée, il vous faut la clef")},
        {
            "Fin", new MapInfo(
                new List<string> { "images/clefjardin.png" },"Vous y êtes presque mais la porte est fermée, il vous faut la clef")},
        };

    }

}
